* {
    margin: 0;
    padding: 0;
}

.wrap,
.header,
.main,
.sidebar,
.footer {
    margin: 10px;
    border: 2px solid;
}

.wrap {
    height: 462px;
    width: auto;
}

.header {
    background-color: grey;
    height: 100px;
    width: auto;
}

.main {
    background-color: green;
    float: left;
    width: 57%;
    height: 440px;
}

.sidebar {
    background-color: yellow;
    float: right;
    width: 38%;
    height: 440px;
}

.footer {
    background-color: red;
    height: 150px;
    clear: both;
    width: auto;
}
