.parent,
.rocks,
.ship,
.water {
    position: absolute;
}

.parent {
    width: 560px;
    height: 447px;
    background: #80cdc6;
}

.clouds {
    float: right;
}

.ship {
    margin-top: 290px;
    margin-left: 10px;
    float: left;
}

.water {
    margin-top: 333px;
}

.link {
    position: fixed;
    top: 460px;
}
